#searchPage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: 1px solid #0099ff;
    border-top: 3px solid #0099ff;
    margin-top: 10px;
}

#searchMenu {
    width: 100%;
}

#searchMainCategory {
    margin-bottom: 15px;
    display: flex;

}

#searchMainCategory img {
    width: 48px;
    height: 33px;
    align-self: flex-end;
    margin-left: 24px;
}

#searchMainCategory select {
    padding-right: 35px;
}

.searchTitle {
    font-size: 0.75em;
    font-weight: bold;
    margin: 10px 0;
}

#searchSecondFloor {
    height: 135px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#searchBrandAndModel {
    display: flex;
}

.searchBandM {
    display: flex;
    flex-direction: column;
}

.searchBandM p {
    margin-bottom: 10px;
}

.searchBandM select:nth-child(3) {
    margin: 19px 0;
}

#searchBrandAndModel div:first-child {
    margin-right: 15px;
}

.selectCommonWidth {
    width: 150px;
}

#searchStateAndYear {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

#searchYear {
    margin-top: 23px;
}

#productionYearFrom {
    margin-right: 10px;
}

#searchBtnDiv {
    width: 290px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#searchButtonAndSorting {
    display: flex;
    flex-direction: column;
}

#searchButton {
    width: 100%;
    height: 70%;
    font-weight: bold;
}

#searchSorting {
    margin-top: 13px;
}

#searchSorting select {
    width: 100%;
}

#searchThirdFloor {
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

#searchPrice input {
    width: 90px;
}

#searchPrice select {
    width: 55px;
}

#searchPower {
    width: 155px;
    display: flex;
    justify-content: space-between;
    width: 315px;
}

#searchPower input {
    width: 142px;
}

#searchTypeOfCarAndEuroStandard {
    width: 287px;
    display: flex;
    justify-content: space-between;
}

#searchTypeOfCarAndEuroStandard select {
    width: 135px;
}

#searchEngineAndGear {
    display: flex;
}

#selectEngine {
    margin-right: 10px;
}

#searchMaxMileageAndColor {
    display: flex;
    justify-content: space-between;
    width: 315px;
}

#searchMaxMileageAndColor select {
    width: 148px;
}

#searchRegion {
    width: 287px;
    display: flex;
    justify-content: space-between;
}

#selectRegion {
    width: 135px;
}

#searchCheckboxOptions {
    margin: 15px 0;
    font-size: 11px;
    display: flex;
}

#searchCheckboxOptions p {
    font-size: 12px;
}

#searchSafety {
    width: 300px;
}

#searchComfort {
    width: 270px;
}

#searchOthers {
    width: 200px;
}

#searchLastFloor {
    font-size: 11px;
}