#searchResultsContainer {
    width: 100%;
    height: 800px;
    display: flex;
    margin: 10px 0;
}

#searchResultsMainContent {
    width: 75%;
    border: 2px solid salmon;
    height: 100%;
}

#searchResultsAsideContent {
    width: 30%;
    height: 100%;
    border: 2px solid aqua;
}

#newSearch ul {
    display: flex;
    font-size: 12px;
}

#newSearch ul li:nth-child(2) {
    margin: 0 10px;
}

#resultsInfoHeading {
    margin: 10px 0;
}

#resultsInfoHeading {
    border-bottom: 3px solid #09F;
}

#resultsInfoHeading h1 {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

#resultsInfoContent {
    background-color: #efefef;
    padding: 15px;
    font-size: 12px;
}

#resultsInfoUpperBody {
    display: flex;
}

#resultInfoMainContent {
    width: 464px;
}

#resultInfoMainContent h6, 
#resultInfoMainContent span{
    margin-right: 5px;
}

#resultInfoMainContent h1,
#resultInfoMainContent p {
    font-weight: bold;
}

#resultInfoMainContent div {
    display: flex;
    flex-wrap: wrap;
}

#resultsInfoUpperBody a {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

#resultsInfoUpperBody img {
    height: 40px;
    width: 40px;
}

#searchResultsLink {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchResultsLink input {
    margin-left: 5px;
    width: 200px;
    border: 1px solid #09f;
    color: #09f;
}

#searchResultsPagesAndPagination {
    font-size: 12px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #005aff;
    padding-bottom: 10px;
}

#searchResultPagesCount {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}

#searchResultsPagination,
#searchResultsPagination ul {
    display: flex;
    align-items: center;

}

#searchResultsPagination li {
    margin-left: 5px;
}

#searchResultsPagination li>a {
    padding: 5px;
    color: #09f;
    text-decoration: none;
    border: 1px solid #b3b3b3;
}

#searchResultsPagination a {
    padding: 6.5px;
    color: #09f;
    text-decoration: none;
    border: 1px solid #b3b3b3;
}

#napredAnchor {
    margin-left: 5px;
}

#mainResults {
    width: 100%;
}

#searchResultCard {
    margin-top: 15px;
    background-color: #e7eaf2;
    border-bottom: 1px solid #005aff;
}


#searchResultCard h1{
    font-weight: bold;
    font-size: 18px;
}

#cardUpperBody {
    display: flex;
}

#cardContent {
    width: 55%;
}

#cardImageDiv {
    background-color: white;
    padding: 5px;
    display: inline-block;
}

#cardMainImg {
    width: 280px;
    height: 185px;
}

#cardtitleAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

#priceAndFavsIcon {
    display: flex;
    align-items: center;
}

#favIconDiv {
    padding-top: 5px;
    margin-left: 10px;
    max-height: 38px;
    overflow: hidden;
}

#favIconDiv img {
    width: 38px;
}

#cardDescription{
    margin-left: 10px;
    margin-top: 50px;
    font-size: 15px;
}

#cardDetails {
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

